.container {
  padding: 2rem;
  background: #fefbfa;

  border: 1px solid #767676;
  border-radius: 1rem;

  box-shadow:
    0px 1px 3px 0px #0000004d,
    0px 4px 8px 3px #00000026;
}

.heading {
  font-size: 2rem;
  font-weight: 600;
  color: #222;
}

.subHeading {
  font-size: 0.95rem;
  color: #767676;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

/* Laptop */

@media (max-width: 1200px) {
  .cardContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Tablet */

@media (max-width: 768px) {
  .container {
    padding: 1.5rem;
  }

  .heading {
    font-size: 1.7rem;
  }

  .cardContainer {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

/* Mobile */

@media (max-width: 576px) {
  .container {
    padding: 1rem;
  }

  .heading {
    font-size: 1.5rem;
  }

  .subHeading {
    font-size: 0.85rem;
  }

  .cardContainer {
    grid-template-columns: 1fr;
  }
}